<ion-view view-title="Login" hide-back-button='true'>
    <ion-content class="padding">
        <label class="item item-input">
            <span class="input-label">Car Number</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Telephone</span>
            <input type="tel">
        </label>
        <button class="button icon button-stable button-block" ng-click="login()">Submit</button>
    </ion-content>
</ion-view>
