<ion-view view-title="Logged In" hide-back-button='true'>
    <ion-content class="padding">
        <div class="list card">

            <div class="item item-icon-left">
                <i class="icon ion-model-s"></i> Car Number
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> Phone Number
            </div>

        </div>
        <button class="button icon button-stable button-block">Logout</button>
    </ion-content>
</ion-view>
